main h2 {
  font-size: 25px; }

main li {
  line-height: 1.5em;
  padding-bottom: 2%; }

main p {
  font-size: 12px;
  margin: 0; }

main button {
  width: 50%; }

main .list-inline a {
  padding-right: 15px; }

main .product-type {
  color: darkgray; }

main .product-action {
  color: red; }

main .product-price {
  font-size: 20px;
  padding: 20px 0; }

main .product-buy {
  padding: 20px 0; }

main .product-delivery p {
  color: gray; }
  main .product-delivery p i {
    color: mediumseagreen;
    font-size: 14px; }
  main .product-delivery p span {
    color: #000;
    font-size: 14px; }

main .catalogue-bottom {
  background: #f2f2f6; }
  main .catalogue-bottom img {
    width: 75px;
    height: 75px;
    border-radius: .25em; }
  main .catalogue-bottom h3 {
    margin: 0;
    text-transform: uppercase; }
  main .catalogue-bottom button {
    padding: 0;
    margin-top: 4%;
    width: 50%;
    height: 30px;
    font-size: 13px;
    text-transform: uppercase; }
  main .catalogue-bottom ul {
    margin: 0; }
  main .catalogue-bottom .product-author {
    padding: 15px; }
    main .catalogue-bottom .product-author h3 {
      font-weight: bold;
      font-size: 15px; }
    main .catalogue-bottom .product-author span {
      color: darkgray;
      text-transform: uppercase;
      font-size: 13px; }
    main .catalogue-bottom .product-author li {
      padding: 0;
      line-height: 1em; }
  main .catalogue-bottom .product-info {
    padding: 15px 0;
    text-align: center; }
    main .catalogue-bottom .product-info h3 {
      font-size: 12px; }
    main .catalogue-bottom .product-info span {
      font-size: 12px; }
  main .catalogue-bottom .product-review {
    padding: 15px;
    text-align: center; }
    main .catalogue-bottom .product-review h3 {
      font-size: 12px; }
    main .catalogue-bottom .product-review span {
      font-size: 12px; }
