@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
/* Device = Most of the Smartphones Mobiles (Portrait) */
/* Device = Low Resolution Tablets, Mobiles (Landscape) */
/* Device = Tablets, Ipads (portrait) */
/* Device = Laptops, Desktops */
/* Device = Desktops */
/* Higher Resolution Screens */
body {
  background: #fff; }

#main {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch; }

.history {
  padding: 10px 30px; }
  .history .list {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row; }
    .history .list__link {
      margin-right: 30px;
      color: #7737BD; }
      .history .list__link-active {
        color: black; }

.radio-content {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: .25em;
  margin: 30px 0; }

.radio-block .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #7737BD; }

.radio-block .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #7737BD; }

.shipping {
  padding-bottom: 100px; }
  .shipping .list {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row; }
    .shipping .list__link {
      margin-right: 30px;
      color: #7737BD; }
      .shipping .list__link-active {
        color: black; }
  .shipping .checkout {
    margin: 10px;
    position: relative;
    padding: 30px;
    border-radius: .3rem;
    border: solid 1px #c9c9c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .shipping .checkout__title {
      position: absolute;
      top: 0;
      transform: translateY(-55%);
      background-color: white;
      padding-left: 15px;
      padding-right: 15px; }
    .shipping .checkout__link {
      color: #c9c9c9; }
  .shipping .hr {
    padding: 25px;
    overflow-x: hidden; }
    .shipping .hr__text {
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      color: #646464; }
      .shipping .hr__text:before, .shipping .hr__text:after {
        flex: 1;
        content: '';
        display: block;
        height: 1px;
        background: #c9c9c9; }
      .shipping .hr__text:after {
        margin-left: 15px; }
      .shipping .hr__text:before {
        margin-right: 15px; }
  .shipping .contact-info__input {
    border: none; }
    .shipping .contact-info__input-group {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: .5rem;
      border-radius: .5rem;
      border: solid 1px #c9c9c9;
      margin-bottom: 15px; }
  .shipping .shipping-address {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap; }
    .shipping .shipping-address__dropdown {
      width: 100%; }
  .shipping .form__title {
    padding-left: 10px; }
  .shipping .form__checkbox {
    padding-left: 10px; }
  .shipping .form-group {
    margin-bottom: 10px; }
  .shipping .form__link-return {
    padding-left: 10px;
    color: #7737BD;
    font-size: 1.2rem; }
  .shipping .form__btn {
    background: #7737BD;
    color: white;
    padding: 15px 20px;
    align-self: flex-end;
    font-size: 1.2rem; }
  .shipping .form-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; }
  .shipping .form__input {
    border: none; }
    .shipping .form__input-group {
      min-height: 68px;
      align-items: stretch;
      margin: 5px;
      display: flex;
      flex-direction: column;
      padding: .5rem 15px;
      border-radius: .3rem;
      border: solid 1px #c9c9c9; }
      .shipping .form__input-group label {
        font-size: 1rem;
        margin-bottom: 0;
        color: #646464; }
  .shipping .form__dropdown {
    padding: 0;
    border: none;
    height: auto;
    line-height: normal; }

.cart {
  padding: 55px 30px;
  min-height: 100vh;
  background: #FFF4F6; }
  .cart-list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    .cart-list__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 15px; }
    .cart-list__image {
      height: 64px;
      width: 64px; }
      .cart-list__image-group {
        border-radius: .3rem;
        border: solid 1px #c9c9c9;
        position: relative; }
    .cart-list__quantity {
      width: 25px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 25px;
      font-size: .8rem;
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 50%;
      background: #636363;
      color: white;
      transform: translateY(-50%) translateX(50%); }
    .cart-list__title {
      margin-left: 15px; }
    .cart-list__price {
      margin-left: auto; }
  .cart hr {
    margin-bottom: 30px; }
  .cart-discount {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .cart-discount__btn {
      margin-left: 15px; }
  .cart-prices-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 15px;
    padding-left: 0;
    list-style: none; }
    .cart-prices-list__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px; }
    .cart-prices-list__price {
      font-size: 1.25rem; }
  .cart-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .cart-total__currency {
      margin-left: auto;
      margin-right: 15px;
      margin-bottom: 0; }
    .cart-total__price {
      font-size: 2rem; }

.shipping-method .form__link-return {
  padding-left: 10px;
  color: #7737BD;
  font-size: 1.2em; }

.shipping-method .form__btn {
  background: #7737BD;
  color: white;
  padding: 15px 20px;
  align-self: flex-end;
  font-size: 1.2em; }

.payment-method h3 {
  font-size: 1em; }

.payment-method .form-method, .payment-method .form-address, .payment-method .form-remeber {
  margin: 30px 0;
  border: 1px solid #ddd;
  border-radius: .25em;
  padding: 0 15px; }
  .payment-method .form-method .row-group, .payment-method .form-address .row-group, .payment-method .form-remeber .row-group {
    margin: 0 -15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    background: #fffffa; }
    .payment-method .form-method .row-group .input-group .form-control, .payment-method .form-address .row-group .input-group .form-control, .payment-method .form-remeber .row-group .input-group .form-control {
      border-right: none; }
    .payment-method .form-method .row-group .input-group .input-group-text, .payment-method .form-address .row-group .input-group .input-group-text, .payment-method .form-remeber .row-group .input-group .input-group-text {
      background: none;
      color: #ccc; }
  .payment-method .form-method .row, .payment-method .form-address .row, .payment-method .form-remeber .row {
    padding: 10px; }

.payment-method .form__link-return {
  padding-left: 10px;
  color: #7737BD;
  font-size: 1.2em; }

.payment-method .form__btn {
  background: #7737BD;
  color: white;
  padding: 15px 20px;
  align-self: flex-end;
  font-size: 1.2em; }
