html {
  position: relative;
  min-height: 100%; }

main {
  padding-bottom: 60px; }

.cont-pad {
  padding-left: 15px;
  padding-right: 15px; }

.pad0 {
  padding: 0; }

.pads0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.login {
  background: #f2f2f6; }
  .login li {
    margin-left: 15px; }

.search input {
  border: none;
  width: 100%;
  border-right: 1px solid;
  border-radius: 0; }

.search i {
  font-size: 20px; }

.search img {
  width: 30px;
  height: 30px; }

.search .navbar-brand {
  padding-left: .5rem; }

.navbar {
  color: #6c757d; }
  .navbar .navbar-divider {
    border-right: 1px solid darkgray;
    padding-right: 15px; }
  .navbar a {
    color: #6c757d;
    font-size: 14px; }
    .navbar a:hover {
      color: darkgray !important; }

.footer {
  background-color: #404751;
  color: #fff;
  padding-top: 2%; }
  .footer .container {
    padding-right: 15px;
    padding-left: 15px;
    background: #404751; }
  .footer p, .footer li {
    line-height: 1.5em; }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: #fff; }

.page-footer {
  background: #404751; }

.btn-floating {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer; }
  .btn-floating:hover {
    transform: scale(1.2); }
  .btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #ffffff;
    line-height: 3em; }

.btn-fb {
  background-color: #3b5998 !important; }

.btn-tw {
  background-color: #55acee !important; }

.btn-gplus {
  background-color: #dd4b39 !important; }

.btn-li {
  background-color: #0082ca !important; }

.btn-dribbble {
  background-color: #ec4a89 !important; }
